# Content Analysis

In [1076]:
import numpy as np
import pandas as pd
from cmath import nan

In [1077]:
data = pd.read_csv('DATA/Clean_Tweets_All_Info.csv')

In [1078]:
data.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis = 1, inplace = True)

In [1079]:
data.head()

,tweet_id,author_followers,text,created_at,retweets,replies,likes,quote_count,place_id,place_name,mentioned_users,hashtags,emojis,urls,cleaned_text,coords,geometry
0,1575493060024143874,6160,@_Hermano_7 PSL players would riot ðŸ˜­,2022-09-29 14:29:51+00:00,0,1,0,0,{'place_id': 'e564d30dc173d2a8'},"Johannesburg, South Africa",['@_Hermano_7'],NaN,['ðŸ˜­'],NaN,psl player would riot,"[27.7518557, -26.5126489, 28.1843404, -26.0396...",POINT (27.968098050000002 -26.276138500000002)
1,1575489974316584961,1329,Spx yesterday's rally\nPoof gone https://t.co/...,2022-09-29 14:17:35+00:00,0,0,1,0,{'place_id': 'a02e6c261fa62b42'},"Benoni, South Africa",NaN,NaN,NaN,https://t.co/hvAYVEs6NU,spx yesterday's rally\npoof go,"[28.2722463, -26.2315204, 28.4449594, -26.0681...",POINT (28.358602849999997 -26.14985695)
2,1575482837989474304,1436,@JohnPerlman A driverless car wouldn't work in...,2022-09-29 13:49:14+00:00,1,0,0,0,{'place_id': '0e587c59401d0a27'},"Pretoria, South Africa",['@JohnPerlman'],['#702drive'],NaN,NaN,driverless car work south africa.the car would...,"[27.9483035, -25.9157727, 28.4198285, -25.5894...",POINT (28.184066 -25.75260515)
3,1575438290962075648,1881,We used to catch a train from Ikwezi to Mzimhl...,2022-09-29 10:52:13+00:00,1,0,1,0,{'place_id': '3e46a98adcf05e59'},"Meadowlands, South Africa",NaN,NaN,NaN,https://t.co/DeR5KoJPXb,use catch train ikwezi mzimhlophe go church in...,"[27.8651453, -26.2359005, 27.9219768, -26.1964...",POINT (27.89356105 -26.2161891)
4,1575418000047472641,985,"Thunder â›ˆ Fire Go Strike You, Fo De Ting You D...",2022-09-29 09:31:35+00:00,0,0,0,0,{'place_id': '2cef54f8b7d99a87'},"Kokosi, South Africa",['@wendyshaygh'],NaN,"['â›ˆ', 'ðŸ˜­', 'ðŸ”¥', 'ðŸ”¥']",https://t.co/i6Togh9BjD,thunder fire go strike fo de ting,"[27.4580897, -26.5177113, 27.481206, -26.4907865]",POINT (27.46964785 -26.5042489)

In [1080]:
tweets = data.head(10)

In [1081]:
tweets.head(2)

,tweet_id,author_followers,text,created_at,retweets,replies,likes,quote_count,place_id,place_name,mentioned_users,hashtags,emojis,urls,cleaned_text,coords,geometry
0,1575493060024143874,6160,@_Hermano_7 PSL players would riot ðŸ˜­,2022-09-29 14:29:51+00:00,0,1,0,0,{'place_id': 'e564d30dc173d2a8'},"Johannesburg, South Africa",['@_Hermano_7'],NaN,['ðŸ˜­'],NaN,psl player would riot,"[27.7518557, -26.5126489, 28.1843404, -26.0396...",POINT (27.968098050000002 -26.276138500000002)
1,1575489974316584961,1329,Spx yesterday's rally\nPoof gone https://t.co/...,2022-09-29 14:17:35+00:00,0,0,1,0,{'place_id': 'a02e6c261fa62b42'},"Benoni, South Africa",NaN,NaN,NaN,https://t.co/hvAYVEs6NU,spx yesterday's rally\npoof go,"[28.2722463, -26.2315204, 28.4449594, -26.0681...",POINT (28.358602849999997 -26.14985695)

In [1082]:
grievances = pd.read_excel('DATA/Vocabularies/grievances.xlsx')

In [1083]:
grievances.drop('Unnamed: 0', axis = 1, inplace = True)

In [1084]:
grievances.head(2)

,Concept,Phrases,Conditional_Phrases,cleaned_phrases,cleaned_conditional_phrases
0,Capitalism,"['Capitalism', 'neoliberalism', 'privatisation...",NaN,"['capitalism,neoliberalism,privatisation,priva...",NaN
1,Values,"['Abuse', 'against xenophobia']",NaN,"['abuse,against', 'xenophobia']",NaN

In [1085]:
def split_string(string):
    if string == string:
        string = string.lower()
        string = string.replace("'", "")
        out = string.strip('][').split(', ')
        return out
    else:
        return nan

In [1086]:
tweets['text'] = tweets['text'].apply(lambda x: x.lower())

C:\Users\papag\AppData\Local\Temp\ipykernel_13604\1691155553.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets['text'] = tweets['text'].apply(lambda x: x.lower())

In [1087]:
grievances['Phrases'] = grievances['Phrases'].apply(lambda x: split_string(x))
grievances['Conditional_Phrases'] = grievances['Conditional_Phrases'].apply(lambda x: split_string(x))

### Define String Extractor

In [1088]:
def string_substring(string, substring):
    string = string.lower()
    substring = substring.lower()

    if substring in string:
        return True
    else:
        return False

In [1089]:
exception = '%NOT% taxi'

In [1090]:
string = "Hello Worlds I am Hraklis"
substring = 'bgsb'
print(string_substring(string, substring))

if '%NOT%' in substring:
    substring = substring[6:]
    
print(not string_substring(string, substring))

False
True

In [1091]:
for grievance in grievances:
    print(grievance)

Concept
Phrases
Conditional_Phrases
cleaned_phrases
cleaned_conditional_phrases

In [1092]:
tweets.head(2)

,tweet_id,author_followers,text,created_at,retweets,replies,likes,quote_count,place_id,place_name,mentioned_users,hashtags,emojis,urls,cleaned_text,coords,geometry
0,1575493060024143874,6160,@_hermano_7 psl players would riot ðŸ˜­,2022-09-29 14:29:51+00:00,0,1,0,0,{'place_id': 'e564d30dc173d2a8'},"Johannesburg, South Africa",['@_Hermano_7'],NaN,['ðŸ˜­'],NaN,psl player would riot,"[27.7518557, -26.5126489, 28.1843404, -26.0396...",POINT (27.968098050000002 -26.276138500000002)
1,1575489974316584961,1329,spx yesterday's rally\npoof gone https://t.co/...,2022-09-29 14:17:35+00:00,0,0,1,0,{'place_id': 'a02e6c261fa62b42'},"Benoni, South Africa",NaN,NaN,NaN,https://t.co/hvAYVEs6NU,spx yesterday's rally\npoof go,"[28.2722463, -26.2315204, 28.4449594, -26.0681...",POINT (28.358602849999997 -26.14985695)

In [1093]:
string = "Hello Worlds I am Hraklis"
substring = 'bgsb'
print(string_substring(string, substring))

if '%NOT%' in substring:
    substring = substring[6:]
    
print(not string_substring(string, substring))

False
True

In [1095]:
list = []
vocabulary = grievances

# Loop Through Tweets
for iter_t, tweet in tweets.iterrows():
    sub_list = []
    #Loop Through Vocab
    for iter_g, vocab in vocabulary.iterrows():
        # Loop Through Phrases in Vocab
        for phrase in vocab['Phrases']:
            # Check if Phrase is in Text
            if string_substring(tweet['text'], phrase):
                if vocab['Conditional_Phrases'] != vocab['Conditional_Phrases']:
                    sub_list.append(vocab['Concept'])
                    break
                else:
                    # Loop Through Conditional Phrases in Vocab
                    for con_phrase in vocab['Conditional_Phrases']:
                        # Check to see if there are Conditional Phrases otherwise break
                        if string_substring(tweet['text'], con_phrase):
                            sub_list.append(vocab['Concept'])
                            break
                        elif '%not%' in con_phrase:
                            con_phrase = con_phrase[6:]
                            if not string_substring(tweet['text'], con_phrase):
                                sub_list.append(vocab['Concept'])
                                break

    list.append(sub_list)
tweets['outcome'] = list

HERE

C:\Users\papag\AppData\Local\Temp\ipykernel_13604\1539265724.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets['outcome'] = list

### Best attempt I could using pandas functions opposed to nested for loops

In [1096]:
# s = grievances.explode('Phrases').set_index('Phrases')['Concept']
# tweets['Grievances'] = (tweets['text'].str.split()
#                  .explode().map(s).dropna()
#                  .groupby(level=0).agg(set)
#                 )

In [1097]:
# Generic Code:
# s = df_2.explode('Words').set_index('Words')['Name']
# df_1['Names'] = (df_1['Paragraph'].str.split()
#                  .explode().map(s).dropna()
#                  .groupby(level=0).agg(set)
#                 )

In [1098]:
tweets.head(3)

,tweet_id,author_followers,text,created_at,retweets,replies,likes,quote_count,place_id,place_name,mentioned_users,hashtags,emojis,urls,cleaned_text,coords,geometry,outcome
0,1575493060024143874,6160,taxpayers taxi@_hermano_7 psl players would r...,2022-09-29 14:29:51+00:00,0,1,0,0,{'place_id': 'e564d30dc173d2a8'},"Johannesburg, South Africa",['@_Hermano_7'],NaN,['ðŸ˜­'],NaN,psl player would riot,"[27.7518557, -26.5126489, 28.1843404, -26.0396...",POINT (27.968098050000002 -26.276138500000002),[]
1,1575489974316584961,1329,spx yesterday's rally\npoof gone https://t.co/...,2022-09-29 14:17:35+00:00,0,0,1,0,{'place_id': 'a02e6c261fa62b42'},"Benoni, South Africa",NaN,NaN,NaN,https://t.co/hvAYVEs6NU,spx yesterday's rally\npoof go,"[28.2722463, -26.2315204, 28.4449594, -26.0681...",POINT (28.358602849999997 -26.14985695),[]
2,1575482837989474304,1436,@johnperlman a driverless car wouldn't work in...,2022-09-29 13:49:14+00:00,1,0,0,0,{'place_id': '0e587c59401d0a27'},"Pretoria, South Africa",['@JohnPerlman'],['#702drive'],NaN,NaN,driverless car work south africa.the car would...,"[27.9483035, -25.9157727, 28.4198285, -25.5894...",POINT (28.184066 -25.75260515),[Services B]

In [1099]:
tweets.to_csv('test.csv')