# Extract Query from data

In [9]:
import numpy as np
import pandas as pd
from cmath import nan

In [10]:
query_df = pd.read_excel('DATA/Protest-Query.xlsx')

In [11]:
query_df.head()

  University Key Words List of Universities   Actions           Other
0        accommodation                  CUT     abuse           court
1       boarding%house                  DUT   amandla             fee
2               campus               Maties     angry  free%education
3            education                 NMMU    arrest       must%fall
4               hostel                  NWU  barricad        mustfall

In [12]:
def list_to_or(l):
    out = ''
    for index, word in enumerate(l):
        if word == word:
            out += word + ' OR '

    out = out[:(len(out)-4)]
    return out

In [13]:
uni_kw= list(query_df['University Key Words'])
uni_kw_string = list_to_or(uni_kw)

unis= list(query_df['List of Universities'])
unis_string = list_to_or(unis)

actions= list(query_df['Actions'])
actions_string = list_to_or(actions)

other= list(query_df['Other'])
other_string = list_to_or(other)

In [14]:
query = ('((' + uni_kw_string + ' OR '
            + unis_string + ') ('
            + actions_string + ' OR '
            + other_string + '))')

In [15]:
query += ' -is:retweet lang:en place_country:ZA'

In [16]:
print(query)

((accommodation OR boarding%house OR campus OR education OR hostel OR lecture OR res OR school OR Student OR teacher OR tech OR Universit OR varsit OR CUT OR DUT OR Maties OR NMMU OR NWU OR Potch OR Rhodes OR RU OR SMU OR Stellies OR SU OR Tuks OR TUT OR UCT OR UFH OR UFS OR UJ OR UKZN OR UNISA OR UP OR UWC OR VUT OR Wits OR WSU) (abuse OR amandla OR angry OR arrest OR barricad OR battle OR block OR bomb OR boycot OR burn OR chant OR clash OR crowd OR damage OR dance OR demand OR demonstrate OR demonstration OR disrupt OR gathering OR grenade OR gun OR march OR mass%meeting OR occupy OR picket OR protest OR rallies OR rally OR riot OR rubber%bulet OR SAPS OR security OR shut%down OR shutdown OR sing OR smash OR stoned OR stormed OR strike OR struggle OR tear%gas OR throw OR toyi OR unhappy OR vandal OR violence OR court OR fee OR free%education OR must%fall OR mustfall OR police OR registration OR SRC OR costs OR policy OR results OR permission OR NEHAWU )) -is:retweet lang:en place_country:ZA