# Extract Query from data

In [11]:
import numpy as np
import pandas as pd
from cmath import nan

In [12]:
query_df = pd.read_excel('DATA/Protest-Query.xlsx')

In [13]:
query_df.head()

  University Key Words List of Universities        Actions           Other
0           University                 Wits  demonstration             fee
1         Universities                   UJ        protest       must fall
2              Student                 Tuks           riot             SRC
3                 tech                  UCT         strike    registration
4               school                  UWC          march  free%education

In [14]:
def list_to_or(l):
    out = ''
    for index, word in enumerate(l):
        if word == word:
            out += word + ' OR '

    out = out[:(len(out)-4)]
    return out

In [15]:
test = ['A', 'B', 'C', 'D']
print(test)

['A', 'B', 'C', 'D']

In [16]:
list_to_or(test)

'A OR B OR C OR D'

In [17]:
uni_kw= list(query_df['University Key Words'])
uni_kw_string = list_to_or(uni_kw)

unis= list(query_df['List of Universities'])
unis_string = list_to_or(unis)

actions= list(query_df['Actions'])
actions_string = list_to_or(actions)

other= list(query_df['Other'])
other_string = list_to_or(other)

In [18]:
query = ('((' + uni_kw_string + ' OR '
            + unis_string + ') ('
            + actions_string + ' OR '
            + other_string + '))')

In [19]:
query += ' -is:retweet lang:en place_country:ZA'

In [20]:
print(query)

((University OR Universities OR Student OR tech OR school OR lecture OR res OR campus OR education OR teacher OR lecturer OR accommodation OR Wits OR UJ OR Tuks OR UCT OR UWC OR Rhodes OR Stellies OR Maties OR UNISA OR UKZN OR NWU OR UFS OR DUT OR NMMU OR CUT) (demonstration OR protest OR riot OR strike OR march OR rally OR rallies OR burning OR barricade OR vandal OR struggle OR shutdown OR boycot OR demonstrate OR disrupt OR occupy OR throw OR burn OR block OR damage OR picket OR gathering OR dance OR sing OR toyi OR chant OR amandla OR mass%meeting OR fee OR must fall OR SRC OR registration OR free%education)) -is:retweet lang:en place_country:ZA