# Testing for a better way to do the content analysis

In [1]:
import numpy as np
import pandas as pd

In [7]:
data_1 = {'Paragraph': ['A B C D E', 'A F G H L', 'B J P Q W', 'G F D S A']}
df_1 = pd.DataFrame(data_1)

In [8]:
df_1.head()

   Paragraph
0  A B C D E
1  A F G H L
2  B J P Q W
3  G F D S A

In [10]:
data_2 = {'Name': ['First', 'Second', 'Third', 'Fourth'],
          'Words': [['A', 'F'], ['B', 'Z'], ['P', 'Q'], ['H', 'J']]}
df_2 = pd.DataFrame(data_2)

In [11]:
df_2.head()

     Name   Words
0   First  [A, F]
1  Second  [B, Z]
2   Third  [P, Q]
3  Fourth  [H, J]

In [12]:
s = df_2.explode('Words').set_index('Words')['Name']
df_1['Names'] = (df_1['Paragraph'].str.split()
                 .explode().map(s).dropna()
                 .groupby(level=0).agg(set)
                )

In [13]:
df_1.head()

   Paragraph                    Names
0  A B C D E          {Second, First}
1  A F G H L          {Fourth, First}
2  B J P Q W  {Third, Second, Fourth}
3  G F D S A                  {First}