# Updating Loctions to university locations

### Import Libraries

In [805]:
import numpy as np
import pandas as pd
from cmath import nan

### Load in University-Location data

In [806]:
universities = pd.read_excel('DATA/South African Universities.xlsx')

In [807]:
universities.head(5)

,Universities,Abbriviation,Nickname,Province,Latitude,Longitude
0,University of Cape Town,"UCT,IKEYS",NaN,Western Cape,-33.9577,18.4612
1,Stellenbosh University,SU,"Stellies,Maties",Western Cape,-33.9328,18.8644
2,University of Pretoria,UP,"Tuks,Tukkies",Gauteng,-25.7545,28.2314
3,University of the Witwatersrand,NaN,Wits,Gauteng,-26.1929,28.0305
4,University of Kwazulu Natal,UKZN,Impi,KwaZulu-Natal,-29.8674,30.9807

In [808]:
tweets = pd.read_csv('DATA/Clean_Tweets_All_Info.csv')
tweets.head(2)

,Unnamed: 0.1,Unnamed: 0,tweet_id,author_followers,text,created_at,retweets,replies,likes,quote_count,place_id,place_name,cleaned_text,geometry
0,0,0,923322201125916672,1074,Idk if these niggas are singing struggle songs...,2017-10-25 22:55:41+00:00,0,0,0,0,{'place_id': 'e564d30dc173d2a8'},"Johannesburg, South Africa",idk nigga sing struggle song coz they’re drunk...,POINT (27.968098050000002 -26.276138500000002)
1,1,1,923320610373107712,3938,@Pali_Matli So nawe stop associating Wits with...,2017-10-25 22:49:22+00:00,0,0,0,0,{'place_id': '810e12ec4af983de'},"Bloemfontein, South Africa","nawe stop associate wit ufs,because also know ...",POINT (26.213109600000003 -29.10658805)

### Convert String Representation of a List to an Actual List of Strings

In [809]:
def split_string(string):
    if string == string:
        string = string.replace("'", "")
        out = string.strip('][').split(',')
        return out
    else:
        return nan

### String extractor (same as method in content analysis)

In [810]:
def string_substring(string, substring):
    # Lower ensures that the vocab is case insensitive
    string = string.lower()
    substring = substring.lower()

    if substring in string:
        return True
    else:
        return False

### String Extractor that is case sensitive (For University Abbreviations)

In [811]:
def string_substring_case_sensitive(string, substring):
    # Lower ensures that the vocab is case insensitive
    if substring in string:
        return True
    else:
        return False

In [812]:
universities['Nickname'] = universities['Nickname'].apply(lambda x: split_string(x))
universities['Abbriviation'] = universities['Abbriviation'].apply(lambda x: split_string(x))

In [813]:
### Testing Specfic Cases
tweets['text'][0] += 'University of cape Town UCT IKEYS'

C:\Users\papag\AppData\Local\Temp\ipykernel_8112\3873432201.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets['text'][0] += 'University of cape Town UCT IKEYS'

In [814]:
def university_locator():
    addition = []
    for iter_t, tweet in tweets.iterrows():
        coords = []
        words = []
        for iter_u, uni in universities.iterrows():
            if uni['Nickname'] == uni['Nickname']:
                for nickname in uni['Nickname']:
                    if string_substring(tweet['text'], nickname):
                        # coords = [uni['Latitude'], uni['Longitude']]#lat, long
                        words.append(uni['Universities'])
            if uni['Abbriviation'] == uni['Abbriviation']:        
                for abbr in uni['Abbriviation']:
                    if string_substring_case_sensitive(tweet['text'], abbr):
                        words.append(uni['Universities'])
                
                if string_substring(tweet['text'], uni['Universities']):
                    words.append(uni['Universities'])
        words = list(set(words))
        if len(words) == 0:
            words = nan
        addition.append(words)

    return addition

In [815]:
tweets['universities'] = university_locator()

In [816]:
#tweets['CHECK'] = 0

In [817]:
def change_coords():
    for iter_t, tweet in tweets.iterrows():
        if tweet['universities'] == tweet['universities']:
            if len(tweet['universities']) == 1:
                new_lat = (list(universities.loc[universities['Universities'] == tweet['universities'][0], 'Latitude']))[0]
                new_long = (list(universities.loc[universities['Universities'] == tweet['universities'][0], 'Longitude']))[0]
                new_geometry = 'POINT (' + str(new_long) + ' ' + str(new_lat) + ')'
                tweets['geometry'][iter_t] = new_geometry
                #tweets['CHECK'][iter_t] = 1

In [818]:
change_coords()

C:\Users\papag\AppData\Local\Temp\ipykernel_8112\3095318024.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets['geometry'][iter_t] = new_geometry

In [819]:
tweets.to_csv('DATA/University_Locations.csv')